.home-component {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #333;
    text-align: center;
  }
  
  .home-component h1 {
    font-size: 3rem;
    margin: 1rem;
    color:red;
    
  }
  
  .home-component h2 {
    font-size: 2.5rem;
    margin: 1rem;
  }
  
  .home-component p {
    font-size: 1.2rem;
    color: #555;
  }
  
  .home-image {
    width: 800px;
    height: 600px;
    margin: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .text-box{
    text-align: center;   
  }
  @media (max-width: 768px) {
    .home-component {
      flex-direction: column; /* Stack elements vertically */
      text-align: center;
      padding: 2rem;
    }
  
    .home-image {
      width: 90%; /* Make image responsive */
      height: auto;
      max-width: 400px; /* Limit max width */
    }
  
    .home-component h1 {
      font-size: 2.2rem;
    }
  
    .home-component h2 {
      font-size: 2rem;
    }
  
    .home-component p {
      font-size: 1rem;
      padding: 0 1rem; /* Add padding to prevent text from touching edges */
    }
  }
  